.content{
    width: 400px;
    background: cyan;
    padding: 20px 24px;
}
.heading{
    margin: 0;
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    background-color: red;
}
.paragraph{
    border: 1px solid black;
    padding: 12px 8px;
    background-color: pink;
}
.btn{
    padding: 14px 18px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: blue;
}